
{% block body %}
    <link rel="stylesheet" href="{{ asset('/sakura/apropos.css') }}">

    <header class="parallax">
        <div class="layer"><img src="https://tistory3.daumcdn.net/tistory/2980695/skin/images/bg01.png" alt="사진1" class="img1"></div>
        <div class="layer"><img src="https://tistory4.daumcdn.net/tistory/2980695/skin/images/bg05.png" alt="사진2" class="img2"></div>
        <div class="layer"><img src="https://tistory4.daumcdn.net/tistory/2980695/skin/images/bg04.png" alt="사진3" class="img3"></div>
        <div class="layer"><img src="https://tistory4.daumcdn.net/tistory/2980695/skin/images/bg03.png" alt="사진4" class="img4"></div>
        <div class="layer"><img src="https://tistory4.daumcdn.net/tistory/2980695/skin/images/bg02-2.png" alt="사진5" class="img5"></div>
        <!--  <div class="layer"><img src="https://tistory4.daumcdn.net/tistory/2980695/skin/images/bg02.png" alt="사진5" class="img5"></div>  -->
        <div class="layer"><img src="https://tistory1.daumcdn.net/tistory/2980695/skin/images/bg02-1.png" alt="사진6" class="img6"></div>
        <div  class="cover"><p>Bienvenue sur notre site web dédié à l'univers enchanteur des studios Ghibli ! Je suis ravi de vous présenter aujourd'hui notre équipe, composée de Ferdinand G., Paul M. et Antoine M., qui se sont unis pour créer un espace virtuel où les fans de Ghibli du monde entier peuvent se retrouver.
                Notre site web est le fruit de notre amour inconditionnel pour les films d'animation créés par le légendaire Hayao Miyazaki et ses collaborateurs talentueux. Chaque film de Ghibli transporte les spectateurs dans des mondes magiques et captivants, empreints de poésie, de merveille et de profondeur émotionnelle. C'est cette magie que nous souhaitons partager avec vous à travers notre site.Que vous soyez ici pour plonger dans les profondeurs de l'univers Ghibli, pour partager votre passion avec d'autres fans ou pour découvrir de nouvelles créations inspirées par cet univers, nous espérons que notre site web deviendra votre point de rendez-vous incontournable.Bienvenue dans le monde magique de Ghibli, et n'oubliez pas de vous laisser emporter par la beauté et l'émotion des films qui ont marqué nos vies.</p>
            <a  class="myButto" href="/auth">Menu</a>
        </div>
    </header>
    <script src="{{ asset('/sakura/apropos.js') }}"></script>
{% endblock %}

{% block title %}

{% endblock %}

