{% block body %}
    <link rel="stylesheet" href="{{ asset('sakura/carte.css') }}">
    <body>

    <div class="menu">
        <div class="sec">
            <div class="flex-s">
                <div class="ht flipCount">Flips: 0</div>
                <div class="ht nav">0s</div>
                <div style="cursor: pointer;" class="ht restart-btn">Rejouer</div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="scoretext"></div>
            <div class="stat">
                <div class="flips"></div>
                <div class="secs"></div>
            </div>
        </div>
    </div>
    <div class="sushi">
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/97/a2/4d/97a24d2792f77824af6c77ce59964539.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/97/a2/4d/97a24d2792f77824af6c77ce59964539.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/94/07/19/940719b51c816c4b819a6566126cac8f.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/94/07/19/940719b51c816c4b819a6566126cac8f.jpg"></div>
            </div>
        </div>
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/f2/ff/10/f2ff10c5e03e0126734aadcc797c5091.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/f2/ff/10/f2ff10c5e03e0126734aadcc797c5091.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/bb/1d/59/bb1d59223edd4c73a6b6db9221966025.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/originals/bb/1d/59/bb1d59223edd4c73a6b6db9221966025.jpg"></div>
            </div>
        </div>
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/236x/07/5e/5c/075e5c5568b084e1825db2f599f5a4d6--studio-ghibli-art-studio-ghibli-movies.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/236x/07/5e/5c/075e5c5568b084e1825db2f599f5a4d6--studio-ghibli-art-studio-ghibli-movies.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL1b7dFkK5NYxY_31LrUvTenTqppq2PECkl3q-T_PRlOSNQJppKqXPSIoWJI_ig48mqFU&usqp=CAU"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL1b7dFkK5NYxY_31LrUvTenTqppq2PECkl3q-T_PRlOSNQJppKqXPSIoWJI_ig48mqFU&usqp=CAU"></div>
            </div>
        </div>
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/04/ab/6b/04ab6be151d148c1cead0ecca629ede8.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/04/ab/6b/04ab6be151d148c1cead0ecca629ede8.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/b9/73/ba/b973ba0e69312a9862d2802ba501b8ea.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/b9/73/ba/b973ba0e69312a9862d2802ba501b8ea.jpg"></div>
            </div>
        </div>
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/38/a6/30/38a6308ffc33c5bf95647e8412de9f1b.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/38/a6/30/38a6308ffc33c5bf95647e8412de9f1b.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/b4/33/98/b433981e6106d65945433feccdd5d0cd.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/b4/33/98/b433981e6106d65945433feccdd5d0cd.jpg"></div>
            </div>
        </div>
        <div class="card-container">
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/99/41/99/994199eecf39c8ece32162d17909da41.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://i.pinimg.com/736x/99/41/99/994199eecf39c8ece32162d17909da41.jpg"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_i74CiFl9fTd57-3nKeFWEEQJyELZltYN6xcmVkQrF821DIYsl9ursl7gP38M6Wpx9b0&usqp=CAU"></div>
            </div>
            <div class="cards">
                <div class="f-view view"></div>
                <div class="b-view view"><img class="cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_i74CiFl9fTd57-3nKeFWEEQJyELZltYN6xcmVkQrF821DIYsl9ursl7gP38M6Wpx9b0&usqp=CAU"></div>
            </div>
        </div>
    </div>

    <script src={{ asset('sakura/carte.js') }}></script>
    </body>
{%endblock%}