

{% block body %}
    <link rel="stylesheet" href="{{ asset('sakura/ghibli1.css') }}">
    <img class="bacghibli" src="{{ asset('medias/images/princess-mononoke-and-moro-wallpaper-3554x1999_53.jpg') }}" alt="">
    <div id="text1ghibli">
        <p class="textghibli1">L'histoire se déroule dans le Japon médiéval (ère Muromachi). Ashitaka, le prince de la tribu des Emishis, un peuple reclus au nord de Honshū, est frappé d'une malédiction après avoir tué Naggo, un dieu sanglier devenu un démon : son bras est animé d'une force surnaturelle, mais est rongé par l'entité démoniaque. La chamane du village le dit condamné à mourir et lui conseille de quitter le village afin d'aller chercher à l'ouest la cause de la colère de la nature et l'espoir de trouver la raison de sa malédiction.

            Sur le chemin, Ashitaka sauve Jiko au détour d'un coup de main de la guerre civile qui ravage le pays. Moine vagabond très désireux de lui montrer sa gratitude, ce dernier conseille à Ashitaka de se rendre dans la forêt où vivent les esprits de la forêt, animaux gigantesques et doués de parole. Ashitaka découvre ensuite deux hommes originaires du village des forges, dirigé par Dame Eboshi. Ils ont été blessés lors d'une attaque menée par la déesse louve Moro, qui a elle-même été blessée par Dame Eboshi. Ashitaka aperçoit peu après San, la princesse Mononoké, une humaine élevée par Moro. Ashitaka ramène les deux hommes jusqu'au village des forges et est chaleureusement accueilli par les femmes du village.

            Il rencontre Dame Eboshi, issue de la noblesse et qui a pourtant décidé de sauver des femmes de leur ancienne condition, à une époque où les droits humains comme animaux n'étaient pas de mise. Femme forte, elle recueille tous les indigents, tels des lépreux à qui elle confie la tâche délicate de maintenir et améliorer l'artillerie du village. En effet, les habitants tirent leur subsistance du sol de la forêt et produisent du fer afin de pouvoir acheter vivres et autres nécessités loin de chez eux, mais ils doivent déforester pour pouvoir accéder aux minerais, ce qui excède et enrage les dieux de la forêt. Les lépreux fabriquent donc des armes à feu pour lutter contre les esprits de la forêt. Ashitaka apprend ainsi que Dame Eboshi, qui a tiré sur Nago, est responsable de la corruption l'ayant transformé en démon.

            Pendant la nuit, San pénètre dans le village pour tenter de tuer Dame Eboshi, mais Ashitaka s'interpose entre elles deux et les assomme. Il quitte ensuite le village en emportant San, mais est touché par une balle en partant. Quand San se réveille, elle s'apprête à tuer un Ashitaka affaibli, mais est déconcertée quand celui-ci lui dit qu'elle est jolie. Elle se décide ensuite à lui faire confiance quand, après l'avoir déposé sur l’îlot central de l'étang de l'esprit de la forêt, le dieu-cerf soigne la blessure du garçon.

            Dame Eboshi et les villageois repoussent une attaque des samouraïs du seigneur Asano, qui cherche à s'emparer du village et des armes qui y sont produites. Dame Eboshi rencontre ensuite Jiko, qui travaille en réalité pour l'empereur et a été chargé de lui ramener la tête du dieu-cerf, censée accorder l'immortalité. Tous deux décident de s'allier dans cette tâche.

            Les sangliers dirigés par Okkoto (le dieu sanglier de l’île du sud) attaquent les forces de Jiko et de Dame Eboshi pour sauver la forêt, mais ils sont décimés. Okkoto est gravement blessé et San l'emmène jusqu'au dieu-cerf pour qu'il le guérisse, mais le vieux sanglier commence déjà à être corrompu et à se transformer en démon, comme Nago. San essaie alors de l'arrêter, aidée par Ashitaka et Moro, alors que Jiko et Dame Eboshi les suivent.

            Le dieu-cerf arrive et libère Okkoto de sa corruption, le privant, ainsi que Moro, de sa vie. Dame Eboshi le décapite peu après d'une balle d'arquebuse. Cet acte transforme le corps du dieu-cerf en une gigantesque forme visqueuse qui ôte la vie de tout ce qui la touche, humains, animaux et arbres. Moro, dans un dernier sursaut, se venge et arrache un bras à Dame Eboshi. Jiko s'empare alors de la tête du dieu-cerf et l'emporte avec ses hommes, alors que le corps de celui-ci, métamorphosé, submerge rapidement la totalité de la forêt.

            Après une course-poursuite avec Jiko et ses hommes, Ashitaka et San parviennent à récupérer la tête du dieu-cerf et à la lui restituer. Ce dernier guérit alors la forêt complètement dévastée, ainsi qu'Ashitaka.

            San, bien que très attachée à Ashitaka, ne peut pardonner aux humains et choisit de rester dans la forêt. Ashitaka décide d'aller vivre au village des forges d'où il pourra souvent aller voir San. Dame Eboshi, en reconnaissance de leurs actions, s'engage à repartir à zéro pour que son village cohabite davantage en harmonie avec la forêt, tandis que Jiko, fataliste, pense à prendre sa retraite.</p>
    </div>
    <p class="realghibli1">Princesse Mononoké
        Image illustrative de l'article Princesse Mononoké
        Logotype francophone du titre du film
        もののけ姫
        (Mononoke hime)
        Type	Animation japonaise
        Genres	Animation, aventure, drame, fantasie
        Thèmes	Combat, écologie, esprits
        Film d'animation japonais
        Réalisateur
        Hayao Miyazaki
        Scénariste
        Hayao Miyazaki
        Studio d’animation	Studio Ghibli
        Compositeur
        Joe Hisaishi
        Durée	134 min
        Sortie
        12 juillet 1997
    </p>

        <iframe id="PrincesseMononoke" width="340" height="190" style=" position: fixed; left: 137vh; bottom: 1vh; border-radius: 25px; autoplay:1"  src="https://www.youtube.com/embed/8tpd5SAUAkM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


{% endblock %}