

{% block body %}
<link rel="stylesheet" href="{{ asset('sakura/ghibli4.css') }}">
<img class="bacghibli" src="{{ asset('medias/images/chateauxambulant.png') }}" alt="chateaux ambulant">
<div id="text1ghibli">
    <p class="textghibli1">Sophie, une jeune modiste et l’aînée de trois sœurs, rencontre un magicien nommé Hauru alors qu’elle se rend chez sa sœur Lettie. En rentrant chez elle, elle rencontre la sorcière des Landes, qui la transforme en une femme de 90 ans. Cherchant à briser la malédiction, Sophie quitte la maison et part à travers la campagne. Elle rencontre un épouvantail vivant, qu’elle surnomme affectueusement Navet. Il la conduit au château ambulant de Hauru où elle entre sans invitation. Elle rencontre ensuite Markl, le jeune apprenti de Hauru, et un démon du feu nommé Calcifer, à l’origine de la magie et du mouvement du château. Calcifer conclut un marché avec Sophie, acceptant de briser sa malédiction si elle rompt son lien avec Hauru. Lorsque Hauru apparaît, Sophie annonce qu’elle s’est engagée comme femme de ménage.

        Pendant ce temps, la nation de Sophie est prise dans une guerre avec un royaume voisin, qui est à la recherche de son prince disparu. Le roi convoque Hauru pour participer à la guerre. Cependant, Hauru décide d’envoyer Sophie auprès du roi, sous prétexte qu’elle est sa mère, pour lui dire que Hauru est trop lâche pour se battre. Avant de partir, il donne à Sophie un anneau enchanté qui la conduit à Calcifer et garantit sa sécurité. Sophie rencontre Madame Suliman, la sorcière en chef du roi, ainsi que la sorcière des Landes, que Madame Suliman punit en drainant tous ses pouvoirs et en la ramenant à son véritable âge, celui d’une vieille femme inoffensive. Madame Suliman prévient Sophie que Hauru connaîtra le même sort s’il ne se bat pas pour le roi. Hauru arrive alors pour sauver Sophie. Madame Suliman tente de le piéger en le transformant en monstre, mais avec l’aide de Sophie, il se souvient de lui-même et évite de justesse la mort. Le duo s’échappe avec l’ancienne sorcière des Landes et le chien de Madame Suliman, Hin. Pendant ce temps, des soldats de chaque royaume s’introduisent dans les maisons de Jenkins et de Pendragon (les pseudonymes de Hauru dans ces royaumes). Cependant, les hommes ne trouvent qu’une cour et un entrepôt vides, car la nature magique du château permet de voyager entre quatre résidences distinctes.

        Sophie apprend que la vie de Hauru est liée d’une manière ou d’une autre à celle de Calcifer et que Hauru s’est transformé en une créature semblable à un oiseau pour interférer avec les deux camps en guerre, mais que chaque transformation rend plus difficile son retour à la forme humaine. Hauru fait alors relier magiquement le château à la maison de Sophie, en garant le château lui-même à la périphérie de la ville. Quelques jours plus tard, la ville est bombardée par des avions ennemis et les sbires de Madame Suliman attaquent la maison et le magasin de chapeaux de Sophie. Hauru part protéger le groupe. Sophie fait alors sortir tout le monde de la maison et retire Calcifer de la cheminée, ce qui fait s’effondrer le château. La sorcière des Landes se rend compte que Calcifer a le cœur de Hauru et s’empare du démon du feu, s’enflammant elle-même. Sophie panique et verse de l’eau sur la sorcière, ce qui asperge Calcifer. Le reste du château se divise alors en deux ; Sophie tombe dans un gouffre et est séparée du groupe.

        En suivant l’anneau enchanté, Sophie se retrouve dans une scène du passé, où elle voit un jeune Hauru attraper une étoile filante, Calcifer, et lui donner son cœur. Sophie leur demande de la retrouver dans le futur alors qu’elle est téléportée. Elle revient dans le présent, trouve Hauru et ils se réunissent avec les autres. La sorcière rend le cœur de Hauru et Sophie le replace à l’intérieur de Hauru, le faisant revivre et libérant Calcifer, bien que celui-ci décide de rester. La malédiction de Sophie est brisée, mais ses cheveux restent blancs. Après qu’elle a embrassé Navet sur la joue, il reprend sa forme humaine et se révèle être Justin, le prince disparu du royaume ennemi. Il révèle que seul le baiser de son véritable amour peut briser sa malédiction. Après avoir vu l’affection de Sophie pour Hauru, il s’empresse de rentrer chez lui pour mettre fin à la guerre, mais promet qu’il les reverra. Madame Suliman, qui observe la scène à travers les yeux de Hin, décide également de mettre fin à la guerre. Quelque temps plus tard, des bombardiers volent dans un ciel sombre au-dessus d’une campagne récupérée et verte en direction d’une autre guerre, tandis que Sophie, Hauru et les autres voyagent dans la direction opposée dans un nouveau château volant.
    </p>
</div>
    <p class="realghibli1">Le Château ambulant
        Image illustrative de l'article Le Château ambulant
        Logo du film.
        ハウルの動く城
        (Hauru no ugoku shiro)
        Genres	Drame, fantasy, aventure
        Film d'animation japonais : Le Château ambulant
        Réalisateur
        Hayao Miyazaki
        Producteur
        Toshio Suzuki
        Scénariste
        Hayao Miyazaki
        Studio d’animation	Studio Ghibli
        Compositeur
        Joe Hisaishi
        Durée	119 minutes
        Sortie
        20 novembre 2004
    </p>
    <iframe width="340" height="190" style=" position: fixed; left: 137vh; bottom: 1vh; border-radius: 25px; autoplay:1" src="https://www.youtube.com/embed/ukCJkQROM5k?start=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}

{% block title %}

{% endblock %}

