#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;

}

.custom-image {

    border: 16px double #c0f4f8;
    width: 25vw;
    box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    -webkit-box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    -moz-box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    margin-left: 60px;
    margin-top: 10vw;
}
body{
    background: rgb(79,230,157);
    background: linear-gradient(90deg, rgba(79,230,157,1) 15%, rgba(255,255,255,1) 100%);
}
