#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;

}

.custom-image {

    border: 16px double #c0f4f8;
    width: 25vw;
    box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    -webkit-box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    -moz-box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.41);
    margin-left: 60px;
    margin-top: 10vw;
}
body{
    background: rgb(15, 114, 114);
    background: linear-gradient(90deg, rgb(4, 122, 119) 15%, rgba(255,255,255,1) 100%);
}
.logoghiblig{
    width: 30vw;
    position: relative;
    left: 35vw;
}
#menugalerie{
position: relative;
    left: 18vw;
    top: 3vw;

}