
{% extends '/base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('rock/rock.css') }}">

    <div id="game"></div>
    <img src="{{ asset('medias/images/ig gibli-20230606T124320Z-001/fondrock2.png') }}" alt="totoro" class="backimg">


    <script src="{{ asset('rock/rock.js') }}"></script>
{% endblock %}

{% block title %}

{% endblock %}