{% extends '/base.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('rock/rock.css') }}">

    <div id="game"></div>


    <script src="{{ asset('rock/rock.js') }}"></script>
{% endblock %}

{% block title %}

{% endblock %}