


{% block body %}
    <link rel="stylesheet" href="{{ asset('rock/rock.css') }}">
    <link rel="stylesheet" href="{{ asset('sakura/carte.css') }}">
    <div class="menu">
        <div class="sec">
            <div class="flex-s">
                <div><a  class="myButto" href="/auth">Menu</a></div>
            </div>
        </div>
    </div>

    <div id="game"></div>
    <img src="{{ asset('medias/images/ig gibli-20230606T124320Z-001/ig gibli/totoro041.png') }}" alt="totoro" class="backimg">


    <script src="{{ asset('rock/rock.js') }}"></script>
{% endblock %}

{% block title %}

{% endblock %}