#titreInscr {
    margin-top: 20px;
    text-align: center;
    font-family: 'Yomogi', cursive;
    position: relative;
}

.formRegistration {
    text-align: center;
}

.username,
.nom,
.prenom,
.telephone,
.ville,
.mail,
.mdp, .mdpII{
    border-radius: 25px;
    resize: none;
    border: 1px solid #18ab29;
    padding: 15px;
    width: 400px;
}

#valInscr,
#backRe {
    border: 1px solid #18ab29;
    color: black;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
}

body {
    background: linear-gradient(#66e2f8, #ffffff);
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

#ashitakaGhibli{
    position: relative;
    bottom: 19vw;
    left: 18vw;
    width: 230px;
    z-index: -1;
}

#chatGhibli{
    position: relative;
    bottom: 19vw;
    left: 68vw;
    width: 250px;
    z-index: -1;
}

#sorciereGhibli{
    position: relative;
    bottom: 34vw;
    left: 37vw;
    z-index: -1;
}

#totoroGhibli{
    position: relative;
    bottom: 38vw;
    right: 61vw;
    z-index: -1;
}

.tab1{
   position: relative;
   left: 25vw;
    top: 30vh;
   width: 500px;
}

.tab2{
   position: relative;
    top: 4vh;
    left: 48vw;
    width: 500px;

}

.btns{
    position: relative;
    top: 15vh;
    left: 1vh;
}

#agreeTerms{
    position: relative;
    top: 12vh;
    font-family: 'Yomogi', cursive;
}

#backRe a{
    text-decoration: none;
    color: black;
}

.cgu{
    font-weight: bold;
}

::placeholder{
    font-family: 'Yomogi', cursive;
    color: black;
}

button{
    font-family: 'Yomogi', cursive;
}
