{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 id="titreContact">Contact</h1>



        <body-contact>
            <div class="background-img-contact">
                {{ include('contact/_form.html.twig') }}
            </div>
        </body-contact>

{% endblock %}
