{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 id="titreContact">Contact</h1>

            <div class="background-img-contact"></div>
    {{ include('contact/_form.html.twig') }}
{% endblock %}
