<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <nav>
        <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Jeux</a></li>
            <li><a href="#">A Propos</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
