

{% block body %}
    <link rel="stylesheet" href={{asset('sakura/galerie.css')}}>
        <div id="container"></div>
    <script src={{ asset('sakura/galerie.js') }}></script>
{% endblock %}

{% block title %}

{% endblock %}

