<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('cssCgu/cgu.css') }}">
    <title>C.G.U</title>
</head>
<body>
<h1>Termes, Confidentialité et CNIL</h1>
<div class="tabCgu">
    <h2>Termes et conditions : </h2>
    <p>Veuillez lire et accepter les termes et conditions suivants :</p>
    <p>1. En utilisant ce service, vous acceptez d'être lié par les présents termes et conditions.</p>
    <p>2. Toutes les informations fournies doivent être véridiques et exactes.</p>
    <p>3. Vous êtes responsable de la confidentialité de vos identifiants de connexion.</p>
    <p>4. Vous acceptez de ne pas utiliser ce service à des fins illégales ou frauduleuses.</p>
    <p>5. Nous nous réservons le droit de suspendre ou de résilier votre compte en cas de violation des termes et conditions.</p>
    <p>6. Ce service est fourni tel quel, sans garantie d'aucune sorte.</p>
    <p>7. Nous ne serons pas tenus responsables des dommages ou pertes découlant de l'utilisation de ce service.</p>
    <p>8. Nous nous réservons le droit de modifier ou de mettre à jour ces termes et conditions à tout moment.</p>

    <h2>Confidentialité :</h2>

    <p>1. Vos informations personnelles seront traitées conformément à notre politique de confidentialité.</p>
    <p>2. Nous ne partagerons pas vos informations personnelles avec des tiers sans votre consentement.</p>
    <p>3. Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé.</p>
    <p>4. Nous utilisons des cookies pour améliorer votre expérience utilisateur, veuillez consulter notre politique en matière de cookies pour plus d'informations.</p>
    <p>5. Vous pouvez exercer vos droits en matière de confidentialité en nous contactant.</p>

    <h2>Respect de la CNIL :</h2>

    <p>1. Nous nous engageons à respecter les lois et réglementations en vigueur concernant la protection des données personnelles.</p>
    <p>2. Nous traitons vos données conformément aux finalités spécifiées dans notre déclaration de traitement des données personnelles.</p>
    <p>3. Vous avez le droit d'accéder à vos données, de les rectifier et de les supprimer conformément à la réglementation applicable.</p>
    <p>4. Nous mettons en place des mesures techniques et organisationnelles appropriées pour garantir la sécurité de vos données.</p>
    <p>5. Nous ne conservons vos données que pendant la durée nécessaire aux fins pour lesquelles elles ont été collectées.</p>
</div>


</body>
</html>


